=provide(:title, full_title("Home"))

-# =current_seller
%h4.mt-5
  Hi There!
  =current_user.email
  =current_user.is_seller
.container.mt-5.pt-5
  .top
    - if current_seller
      %h4
        .btn.btn-info
          = link_to "Add a product", new_seller_product_path(@current_seller)
  -# =form_with(url: )
  =form_with(url: search_path, html: {method: :get}, local: true ) do |f|
    .field
      -# =f.label :SearchProducts
      =f.text_field :title
    .actions
      =f.submit 'Search'
  .categories
    Browse Product By Categories
    %br
      - @categories.each  do |category|
        %br
          %li.btn.btn-success=link_to category[0], products_by_category_path(category[1])